.drawer {
  width: max(350px, 25vw);
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  font-family: "Lato";
}

.drawer h1 {
  font-size: 2rem;
  text-align: center;
  line-height: 50px;
}

.closeBttn {
  position: absolute;
  top: 0;
  right: 10px;
  line-height: 50px;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  font-weight: bold;
}
